<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary new-lesson-button" data-toggle="modal" data-target="#newLessonModal" data-lesson-url="<%= instructor_section_lessons_path(section) %>">
  New Lesson
</button>     

<!-- Modal -->
<div class="modal fade" id="newLessonModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content booyah-box">
      <div class="modal-header">
        <h5 class="modal-title" id="newLessonModalLabel">Add a new lesson</h5>
      </div>
      <%= simple_form_for @lesson, url: '#', html: {id: 'newLessonForm' } do |f| %>
        <div class="modal-body">
          <%= f.input :title %>
          <%= f.input :subtitle %>
          <%= f.input :video %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit "Add the lesson", class: 'btn btn-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>